@import url("../utilities.css");
@import url("../shared.css");


*{
  /* border:1px solid red; */
}

.post-container, .comments-container, .arrow-container{
  background-color: var(--white);
  padding: 30px;
  border-radius:var(--radius);
  margin:20px 0px;
  box-shadow: var(--shadow);
}

.arrow-container{
  padding: 15px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.text-comment{
  box-sizing: border-box;
}