@import url("../utilities.css");
@import url("../shared.css");

.posts-container,
.form-container {
  background-color: var(--white);
  padding: 30px;
  border-radius: var(--radius);
  margin: 20px 0px;
  box-shadow: var(--shadow);
}

.title {
  margin: 0px;
  margin-bottom: 10px;
}

.button-edit,.button-delete{
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  border: none;
  padding: 5px;
  border-radius: var(--radius);
  cursor: pointer;
  margin: 3px;
}

.button-edit{
  background-image: url("../../images/edit.png");
  background-color: var(--yellow);
}

.button-delete{
  background-image: url("../../images/trash.png");
  background-color: var(--red);
}

.input-search{
  padding: 10px;
  border-radius: var(--radius);
  border:2px solid var(--background);
  width: 100%;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  box-sizing: border-box;
}