@import url('../utilities.css');
@import url('../shared.css');

.container {
  padding-bottom: 60px;
}

.posts-container,
.form-container {
  background-color: var(--white);
  padding: 30px;
  border-radius: var(--radius);
  margin: 20px 0px;
  box-shadow: var(--shadow);
}

.title {
  margin: 0px;
}

.button-edit,
.button-delete {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  border: none;
  padding: 5px;
  border-radius: var(--radius);
  cursor: pointer;
  margin: 3px;
}

.button-edit {
  background-image: url('../../images/edit.png');
  background-color: var(--yellow);
}

.button-delete {
  background-image: url('../../images/trash.png');
  background-color: var(--red);
}

.container-input {
  position: relative;
}

.container__results {
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  height: auto;
  border: 1px solid gray;
  z-index: 100;
  background-color: var(--white);
  border-radius: var(--radius);
  padding: 10px;
  box-sizing: border-box;
}

.container-results__item {
  padding: 5px 10px;
}
.container-results__item:hover {
  cursor: pointer;
  background-color: var(--background);
  border-radius: var(--radius);
}

.inner-form {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: auto;
  grid-gap: 15px;
}

.tags-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
}

.close-tag {
  margin-left: 5px;
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
}

.title-form {
  margin: 10px 0px 10px 0px;
  color: var(--gray3);
  font-size: 14px;
}

.message {
  color: var(--red);
}

@media (max-width: 900px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }

  .inner-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
  }

  .input-search {
    width: 100%;
  }
}
