.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

.w-100{
  width: 100% !important;
}

.bold{
  font-weight: 700;
}

.d-flex{
  display: flex;
}

.justify-content-end{
  justify-content: end;
}

.mt-1{
  margin-top: 5px;
}

.mt-2{
  margin-top: 10px;
}

.mt-3{
  margin-top: 15px;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.not-found__message{
  font-size: 80px;
}